
@{
    ViewBag.Title = "PersonalDetails";
}

<h2>PersonalDetails</h2>

<h4>Name:Niloy Roy</h4>
<h4>Fathers Name:Biresh Chandra Roy</h4>
<h4>Mothers Name:Gopa Roy</h4>
<h4>Bate Of Birth:15 January 2000</h4>
<h4>Address: Masterpara,Feni Sadar,Feni</h4>
<h4>Contact:01845315804</h4>
<h4>Email:niloyroynir@gmail.com</h4>

