
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Food Network</h4>
                <p class="card-text">This is food based website.</p>
                <a  target="_blank" href="https://github.com/RoyNiloy40701/food-network" class="btn btn-primary">Code</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Honda Shop</h4>
                <p class="card-text">This is motor cycle based website</p>
                <a target="_blank" href="https://github.com/RoyNiloy40701/honda-cbr" class="btn btn-primary">Code</a>
            </div>
        </div>
    </div><div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fuel Port</h4>
                <p class="card-text">This is a C# app </p>
                <a target="_blank" href="https://github.com/RoyNiloy40701/FuelPort_.Net" class="btn btn-primary">Code</a>
            </div>
        </div>
    </div>
</div>
