
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>


<ol class=" list-group-numbered">
    <li>
        <h4>Abhijit Bhowmik</h4>
        <span>Associate Professor</span><br>
        <span>American International University-Bangladesh</span><br>
        <span>Email: abhijit@aiub.edu</span><br><br>
    </li>
    <li>
        <h4> Tanvir Ahmed </h4>
        <span> Lecturer</span><br>
        <span>American International University-Bangladesh</span><br>
         <span>Email: tanvir.ahmed@aiub.edu</span>
       
       
    </li>
    
</ol>
